* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.topbar-wrapper{
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
  border: solid 1px red ;
}

#top-bar{
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap; 
  border: solid 1px purple;
  width: 700px;
}

.grid-wrapper {
  height: 610px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
  background: lightcyan;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

.grid div.vivi {
  background-image: url(assets/Vivi1.gif);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.cactus {
  background-image: url(assets/Cactaur2.gif);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.tomberry {
  background-image: url(assets/TomberryCat.gif);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.orc {
  background-image: url(assets/Orc1.gif);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.home {
  background-image: url(assets/Home1.gif);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.vivihome {
  background-image: url(assets/Vivi2.gif);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.bird {
  background-image: url(assets/Chocobo2.gif);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.riding {
  background-image: url(assets/RidingChocobo1.gif);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.time-progress {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-column-start: 1;
  grid-column-end: 3;
  border: 4px blue solid;
}
.bar{
  display: grid;
  grid-template-columns: 0fr 100fr;
  grid-row: 1;
  border: 4px solid orange;
  width: 600px;
}
#leftBar{
  grid-column: 1;
  border: 4px solid teal;
  background-color: darkcyan;
}
#rightBar{
  grid-column: 2;
  border: 4px solid purple;
}