* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo{
    /* align-items: center; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* font-family: 'Source Sans Pro', sans-serif; */
    max-height: 288px;
}

.topbar-wrapper{
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
  border: solid 1px red ;
}

#top-bar{
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap; 
  border-radius: 16px;
  width: 640px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: whitesmoke;
}

.topbar-items{
  
}

.top-bar-button{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  padding: 10px;
  font-size: 15px;
  border-radius: 16px;
  position: relative;
  min-width: 192px;
  max-width: 300px;
  cursor: pointer;
  margin: 10px;
}

.sides {
  width: 288px;
    height: 600px;
    background-color: #2cff96;
    background-image: linear-gradient(225deg, #2cff96 23%, #7dffe6 72%);
    margin: 60px;
    border-radius: 16px;
}

.grid-wrapper {
  height: 610px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
  /* background: lightcyan; */
  background-image: url(assets/Valley1.jpg);
  background-size: cover;
  
}

.grid div {
  /* border: 1px solid lightgrey;  */
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

.grid div.vivi {
  background-image: url(assets/Vivi1.gif);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.cactus {
  background-image: url(assets/Cactaur2.gif);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.tomberry {
  background-image: url(assets/TomberryCat.gif);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.orc {
  background-image: url(assets/Wizard3.gif);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.fighter {
  background-image: url(assets/cloud3.gif);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.bard {
  background-image: url(assets/bard1.gif);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.mage {
  background-image: url(assets/Mage3.gif);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.samurai {
  background-image: url(assets/samurai1.gif);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.star {
  background-image: url(assets/starman2.gif);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.home {
  background-image: url(assets/airship1.gif);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.vivihome {
  background-image: url(assets/Vivi2.gif);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.bird {
  background-image: url(assets/Chocobo2.gif);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.riding {
  background-image: url(assets/RidingChocobo1.gif);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.time-progress {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-column-start: 1;
  grid-column-end: 3;
  border: 4px blue solid;
}
.bar{
  display: grid;
  grid-template-columns: 0fr 100fr;
  grid-row: 1;
  padding: 6px;
  border-radius: 30px;
  background-color: #85FFBD;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  width: 600px;
}
#leftBar{
  grid-column: 1;
  padding: 6px;
  border-radius: 30px;
  background: linear-gradient( #6b6bd1, #c666bc, #f66f99);  
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

#rightBar{
  grid-column: 2;
  /* border: 4px solid cyan; */
}